@import '../../../components/App.scss';

.header {
    padding: 125px 20px;
    overflow: hidden;
    background-image: url('../../../assets/marth_hero_resized.png');
    background-repeat: no-repeat;
    background-position: 77% -67%;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.row {
    width: 50%;
}

.heading {
    margin-bottom: 35px;
}

.subHeading {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 25px;
}

.desc {
    margin-bottom: 50px;
}

.containerRight {
    flex: 1;
    position: relative;
}

.headerImg {
    position: absolute;
    bottom: -345px;
    right: 0;
    width: 75%;
}

.cta {
    margin-right: 20px;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerLeft {
        width: 90%;
        text-align: center;
    }

    .containerRight {
        width: 90%;
        height: 300px;
    }
    .headerImg {
        width: 80%;
        position: absolute;
        bottom: -170px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 568px) {
    .headerImg {
        bottom: -30px;
    }
}