.profile__container{
    background-color: #eee;
    width: 100%;
    min-height: 100vh;
    padding: 80px 120px;
    display: flex;
    justify-content: space-between;
}

.profile__left{
    width: 40%;
    max-width: 550px;
}

.profile__right{
    width: 58%;
}

.profile__box{
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 30px 40px;
    text-align: left;
    margin-bottom: 40px;
    border: 1px solid #ccc;
}



.profile__pic{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.profile__name{
    font-weight: 900;
    font-size: 24px;
    padding: 10px 0;
}

.profile__btn{
    padding: 10px 14px;
    font-size: 18px;
    background-color: #550fff;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin: 20px 10px;
    width: 40%;
    cursor: pointer;
}

.profile__btn--light{
    color: #550fff;
    border: 1px solid #550fff;
    background-color: #fff;
}

.profile__list{

}

.profile__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px;
}

.text-center{
    text-align: center;
}

.profile__p{
    line-height: 25px;
    font-weight: 400;
    color: #444;
}



/* HERO CSS  */

.hero__header{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
}

.hero__container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px 40px;
}

.trophy{
    width: 20%;
}





/* USER REVIEW CSS */

.profle__reviews{
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 30px 0;
}

.reivew__header{
    border-bottom: 2px solid #eee;
    padding: 20px 0;
}

.user__review{
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    border-bottom: 2px solid #eee;
}

.user__review:last-child{
    border-bottom: none;
}

.star__container{
    padding: 8px 0 0 0;
}
.review__star{
    color: #550eff;
    padding: 0 2px;
}
.review__pic{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 20px;
}

.review__p{
    line-height: 23px;
    padding: 10px 0;
    font-size: 16px;
    color: #444;
}

.review__date{
    color: #666;
    font-size: 14px;
}