.profileContainer{
    background-color: #eee;
    width: 100%;
    min-height: 100vh;
    padding: 80px 120px;
    display: flex;
    justify-content: space-between;
}

.profileLeft{
    width: 40%;
    max-width: 550px;
}

.profileRight{
    width: 58%;
}

.profileBox{
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 30px 40px;
    text-align: left;
    margin-bottom: 40px;
    border: 1px solid #ccc;
}



.profilePic{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.profileName{
    font-weight: 900;
    font-size: 24px;
    padding: 10px 0;
}

.profileBtn{
    padding: 10px 14px;
    font-size: 18px;
    background-color: #550fff;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin: 20px 10px;
    width: 40%;
    cursor: pointer;
}

.profileBtnLight{
    color: #550fff;
    border: 1px solid #550fff;
    background-color: #fff;
}

.profileList{

}

.profileItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px;
}

.text-center{
    text-align: center;
}

.profileP{
    line-height: 25px;
    font-weight: 400;
    color: #444;
}



/* HERO CSS  */

.heroHeader{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
}

.heroContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px 40px;
}

.trophy{
    width: 20%;
}





/* USER REVIEW CSS */

.profleReviews{
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 30px 0;
}

.reivewHeader{
    border-bottom: 2px solid #eee;
    padding: 20px 0;
}

.userReview{
    background-color: #fff;
    padding: 15px 10px;
    display: flex;
    border-bottom: 2px solid #eee;
    align-items: flex-start;
}

.userReview:last-child{
    border-bottom: none;
}

.starContainer{
    padding: 8px 0 0 0;
}
.reviewStar{
    color: #550eff;
    padding: 0 2px;
}
.reviewPic{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 20px;
}

.reviewP{
    line-height: 23px;
    padding: 5px 0;
    font-size: 16px;
    color: #444;
}

.reviewDate{
    color: #666;
    font-size: 12px;
}