.card{
    background-color: #fff;
    box-shadow: 0 3px 11px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    width: 260px;
    min-height: 260px;
    margin-right: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
    color: inherit;
    width: 250px;
    color: #333;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid rgba(20,23,28,.1);
    height: 270px;

}

.card:hover{
    box-shadow: 0 0 2px 2px rgba(20,23,28,.1), 0 4px 2px 0 rgba(20,23,28,.1);
}

.cardImg{
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.title{
    margin-bottom: 10px;
    font-weight: 400;
    color: #333;
    font-weight: bold;
    font-weight: 600;
    font-size: 16px;
}

.name, .game, .chars{
    display: block;
    padding: 4px;
    font-size: 13px;
    color: #555;
    padding-left: 0;
    font-weight: 600;
    color: #868686;
    font-weight: 400;
}

.name{
    font-weight: bold;
    font-size: 15px;
}

.cardContent{
    padding: 15px;
}

/* .cardFooter{
    display: flex;
    justify-content: space-between;
    padding: 7px 15px 5px 15px;
    border-top: 1px solid #efefef;
    align-items: center;
} */

.free{
    font-size: 12px;
    color: #777;
}



/* TESTING STUFF */

.cardFooter{
    display: flex;
    font-size: 14px;
    color: #666;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}


.spanSmall{
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 10px;
}

.spanBig{
    font-size: 20px;
}

.profilePic{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 8px;
}

.profileContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.profileName{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #222;
}

.profileName:hover{
    text-decoration: underline;
}

.pricing{
    font-size: 22px;
}

.spanLeft{
    display: flex;
    align-items: center;
}

.span1{
    margin-left: 3px;
}

.span2{
    margin-left: 5px;
}