.benefits{
    padding: 70px 10px;
}

.headingBig{
    color: #000;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 25px;
}

.headingMedium{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}

.flexbox{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.icon{
    font-size: 46px;
}

.iconHolder{
    height: 150px;
    width: 150px;
}

.headingBenefit{
    text-align: center;
    margin-bottom: 60px !important;
}

.headerSmall{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}

.para{
    max-width: 350px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px){
    .flexbox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}