.list {
    display: inline-block;
    margin-right: 15px;
    font-size: 0;
    display: flex;
    align-items: center;
}

.item {
    display: inline-block;
    position: relative;
}

.item:hover{
    opacity: .8;
}

.link {
    padding: 10px 15px;
    font-size: 1.5rem;
    font-size: 14px;
    color: #4A4A4A;
    text-decoration: none;
    cursor: pointer;
}


.pic{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}


/* profile hover box */

.profile:hover{
    opacity: 1;
}


.hoverBox{
    position: absolute;
    left: -165px;
    top: 130%;
    background-color: #fff;
    /* border: 1px solid #cfcfcf; */
    z-index: 10;
    width: 240px;
    height: auto;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
    padding: 5px;

}

.hoverBoxHidden{
    display: none;
}

.hoverList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.hoverItem, .hoverItemBorder{
    width: 100%;
    cursor: pointer;
}

.hoverItemBorder{
    border-top: 1px solid #eee;
}


.hoverItem:hover .hoverLink, .hoverItemBorder:hover .hoverLink{
    color: rgb(85, 15, 255);
}

.hoverLink{
    color: #555;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 10px;
    display: block;
    width: 100%;
}

.linkBtn{
    padding: 6px 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: rgb(85, 15, 255);
    border-radius: 3px;
    border: 1px solid rgb(85, 15, 255);
}