.list {
    display: inline-block;
    margin-right: 15px;
    font-size: 0;
}

.item {
    display: inline-block;
}

.link {
    padding: 10px;
    font-size: 1.5rem;
    font-size: 1rem;
    color: #4A4A4A;
    text-decoration: none;
    cursor: pointer;
}

