@import './color-palettes.scss';

// Placeholder colors till we decide on better colors

// fonts
$font-primary: $grey-9;
$font-accent: $prime-blue;
$font-light: $grey-6;
$font-grey: $grey-8;
$font-white: $white;

// links
$a-primary: $prime-blue;
$a-secondary: pink; 
$a-tertiary: pink; 

// buttons
$btn-primary: $prime-blue;
$btn-secondary: #000;
$btn-shadow: 0 4px 6px 0 hsla(0, 0, 0, .2);

// shadows
$shadow: 0 4px 6px 0 hsla(0, 0, 0, .2);
$shadow-inset: inset 0 2px 4px 0 hsla(0, 0, 0, .07);