@import './color-palettes.scss';

// Placeholder colors till we decide on better colors

// fonts
$font-primary: $grey-9;
$font-accent: $prime-blue;
$font-light: $grey-6;
$font-grey: $grey-8;
$font-white: $white;

// buttons
$btn-primary: #6534ff;
$btn-secondary: #62bcfa;
$btn-tertiary: #fccdd3;
$btn-shadow: 0 4px 6px 0 hsla(0, 0, 0, .2);
$btn-radius: 2px;
$btn-time: 350ms;

// links
$a-primary: $btn-primary;
$a-secondary: $btn-secondary; 
$a-tertiary: pink; 

// shadows
$shadow: 0 4px 6px 0 hsla(0, 0, 0, .2);
$shadow-inset: inset 0 2px 4px 0 hsla(0, 0, 0, .07);
