.flexOneThird{
    width: 33.333333%;
}

.box{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
    padding: 20px 30px;
    margin-bottom: 30px;
}

.boxTitle{
    margin: -20px -30px 15px -30px;
    background-color: #eee;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content p{
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 5px;
}


.item2{
    display: flex;
    align-items: center;
    padding: 5px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.item2:hover{
    text-decoration: underline;
}

.item2 img{
    margin-right: 6px;
}

.listIcon{
    height: 25px;
    width: 25px;
    margin-right: 3px;
}


.profilePic{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    
    border: 3px solid #eee;
}

.profileName{
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
}

.btnContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.contactBtn{
    background-color: rgb(85, 15, 255);
    color: #fff;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.editBtn{
    background-color: fff;
    color: #444;
    border: 1px solid #aaa;
    padding: 10px;
    width: 45%;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.editBtn:hover{

}

.hr{
    border-bottom-color: #eee;
}


.listItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 14px;
}

.itemSpan{
    margin-left: 8px;
}

.editLink{
    color: #00698c;
    cursor: pointer;
    font-size: 14px;
}

.editLink:hover{
    text-decoration: underline;
}

.editBox{
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    font-size: 14px;
}

.bioTextarea{
    display: block;
    background-color: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: none;
    font-size: inherit;
    min-height: 100px;
    resize: none;
}

.cancelBtn, .submitBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    min-width: 100px;
    width: 48%;
    cursor: pointer;
}

.cancelBtn{
    border: 1px solid #ccc;
}

.submitBtn{
    background-color: #550fff;
    color: #fff;
}