.gigContainer{
    min-height: 100vh;
    width: 100%;
    padding: 5px 0;
    background-color: #fbfbfb;
}

.container{
    margin: 30px auto;
    width: 950px;
}

.back{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    color: #550fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.backIcon{
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back:hover{
    text-decoration: underline;
}

.flex{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.gigLeft{
    width: 650px;
    margin-right: 30px;
}

.gigRight{
    flex: 1;
}

.box{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
    padding: 20px 30px;
    margin-bottom: 30px;
}

.top{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.p{
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 40px;
}

.profilePic{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}


.footer{
    display: flex;
}

.footerItem{
    margin-right: 45px;
}

.fTop{
    color: #444;
    display: block;
    margin-bottom: 14px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.fBottom{
    color: #666;
    display: block;
    font-size: 13px;
    text-align: center;
}



.boxTitle{
    margin: -20px -30px 15px -30px;
    background-color: #eee;
    padding: 15px;

}



/* right side of gig */
.h4{
    color: #494949;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.input, .textarea{
    display: block;
    width: 100%;
    min-height: 40px;
    height: 40px;
    padding: 10px 19px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    color: #222;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    font-size: 13px;
    line-height: 18px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    margin: 10px 0;

}

.textarea{
    resize: none;
    min-height: 100px;
}

.btn{
        display: block;
        width: 100%;
        padding: 12px 20px;
        border: none;
        color: #fff;
        background-color: rgb(15, 0, 224);
        background-color: rgb(85, 15, 255);
        font-size: 15px;
        cursor: pointer;
        border-radius: 3px;
        max-width: 300px;
        margin: 10px auto;
}






/* USER CONTENT */


.content p{
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 5px;
}

.content ul{
    list-style: honeydew !important;
    margin-left: 30px;
    list-style-type: disc;

}

.content li{
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 5px;
    padding: 5px;
}

.content p:last-child{
    margin-bottom: 40px;
}



/* NO REVIEW CONTENT */

.noReviewImg{
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

.noReviewTitle{
    font-size: 20px;
    color: #111;
    font-weight: 800;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 20px;
}
